/* CSS style rule for below font - font-family: 'Playfair Display', serif; */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;

}

body {
    font-family: lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 65px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin: 25px;
}
/* hero image and cover text */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 32vw;
    width: 100%;
    background: url('../images/London_6.jpg') no-repeat center center;
    background-size: contain;
}