/* CSS style rule for below font - font-family: 'Playfair Display', serif; */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


body {
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    color: #3a3a3a
}

/* Headings and logo */

h1, h2 {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: grey;
}

#logo {
    float:left;
    font-weight: 300%;
    margin-top: 15px;
    margin-left: 25px
}
/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 65px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin: 25px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:hover {
    border-bottom: 1px solid darkgrey;
}
.active {
    border-bottom: 1px solid darkgrey;
}
/* hero image and cover text */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#cover-text, #cover-text h2 {
    color: #fff;
}

#hero-image {
    height: 32vw;
    width: 100%;
    background: url('../images/London_6.jpg') no-repeat center center;
    background-size: contain;
}

#cover-text {
    font-size: 130%;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;

    width: 400px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(34, 150, 179, 0.7);

    bottom: 50px;
    right: 300px;

    position: absolute;
}

/* Tours offered */

.flex-grid {
    display: flex;
    justify-content: space-around;
}

.container {
    margin: 0 auto;
    width: 700px;
    height: 400px;
    border: 1px solid lighten(black, 10);
    display: flex;
    align-items: center;
  }

.boxed-heading {
    box-shadow: 10px 10px 5px lightgray;
    border: groove 1px;  
    border-radius: 15px;
    margin: 15px;
    width: 100%;
    height: 30px;
    text-align: left;
}

.boxed-walking {
    box-shadow: 10px 10px 5px lightgray;
    border: groove 1px;  
    border-radius: 15px;
    margin: 15px;
    width: 33%;
    height: 600px;
    text-align: center;
}

.boxed-food {
    box-shadow: 10px 10px 5px lightgray;
    border: groove 1px;  
    border-radius: 15px;
    margin: 15px;
    width: 33%;
    height: 600px;
    text-align: center;
}
 

.boxed-altogether {
    box-shadow: 10px 10px 5px lightgray;
    border: groove 1px;  
    border-radius: 15px;
    margin: 15px;
    width: 33%;
    height: 600px;
    text-align: center;
}

input {
    width: 30%;
    padding: 3px 6px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

.request {
    background-color: rgb(92, 199, 241);
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    letter-spacing: 1px;
}

.no-points {
    list-style-type: none;
  padding: 0; 
  margin: 0; 
}

#market1-image {
    height: 150px;
    max-width: 100%;
    background: url('../images/Market1_21.jpg') no-repeat center center;
    background-size: contain;
}

#southbank1-image {
    height: 150px;
    max-width: 100%;
    background: url('../images/Southbank1.jpg') no-repeat center center;
    background-size: contain;
}

#market5-image {
    height: 150px;
    max-width: 100%;
    background: url('../images/Market5.jpg') no-repeat center center;
    background-size: contain;
}
#soho1-image {
    height: 150px;
    max-width: 100%;
    background: url('../images/compton\ street.jpg') no-repeat center center;
    background-size: contain;

}

#soho2-image {
    height: 150px;
    max-width: 100%;
    background: url('../images/Chinatown.jpg') no-repeat center center;
    background-size: contain;
}

#soho3-image{
    height: 150px;
    max-width: 100%;
    background: url('../images/sohofood.jpg') no-repeat center center;
    background-size: contain;
}

#richmond1-image {
    height: 150px;
    max-width: 100%;
    background: url('../images/RichmondPark.jpg') no-repeat center center;
    background-size: contain;
}

#richmond2-image {
    height: 150px;
    max-width: 100%;
    background: url('../images/richmondpark3.jpg') no-repeat center center;
    background-size: contain;
}

#richmond3-image {
    height: 150px;
    max-width: 100%;
    background: url('../images/richmond1.jpg') no-repeat center center;
    background-size: contain;
}
/* About Us */

#about-us {
    background-color: rgb(92, 199, 241);
    height: 300px;
    width: 100%;
}
.about-us{
    color: rgb(243, 242, 242);
    text-align: center;
    padding-top: 80px;
    margin: 30px;
    font-weight: 800;
    letter-spacing: 0.5px;

}

/* Gallery of images */

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

/* Booking form */


.form{
    height: 1200px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.form-image {
    height: 100%;
    width: 100%;
    background: url('../images/London_7.jpg') no-repeat center center;
    background-size: cover;
}

.form-text {
    font-size: 130%;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;

    width: 600px;
    height: 400px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(34, 150, 179, 0.7);

    top: 50px;
    right: 300px;

    position: absolute;
}

fieldset {
    display: block;
    margin: 2em 2em;
    padding: 5px;
    border: solid 1px #ccc;
    border-radius: 15px;
    width: 600px;
    height: 800px;
}

legend {
    font-size: 1.5em;
    padding: 4 .1em;
    color: #999;
}

label {
    display: block;
    margin-top: 2em;
}

select {
    display: block;
    margin-top: 2em;
}

label:first-of-type {
    margin-top: 0;
}

input {
    padding: .5em;
    border: solid 1px #999;
}

textarea {
    min-height: 9em;
    min-width: 40%;
    padding: .5em;
    border: solid 1px #999;
}
