/* CSS style rule for below font - font-family: 'Playfair Display', serif; */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');


body {
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    color: #3a3a3a
}

/* Headings and logo */

h1, h2 {
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: grey;
}

#logo {
    float:left;
    font-weight: 300%;
    margin-top: 15px;
    margin-left: 25px
}
/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 65px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin: 25px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}
#menu a:hover {
    border-bottom: 1px solid darkgrey;
}
.active {
    border-bottom: 1px solid darkgrey;
}
/* hero image and cover text */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 32vw;
    width: 100%;
    background: url('../images/London_6.jpg') no-repeat center center;
    background-size: contain;
}

/* Tours offered */

.boxed-heading {
    box-shadow: 10px 10px 5px lightgray;
    border: groove 1px;  
    border-radius: 15px;
    margin: 15px;
    position: relative;

}

.boxed-walking {
    box-shadow: 10px 10px 5px lightgray;
    border: groove 1px;  
    border-radius: 15px;
    margin: 15px;
    width: 31%;
    height: 300px;
    display: inline-block;
    text-align: center;
}

.boxed-food {
    box-shadow: 10px 10px 5px lightgray;
    border: groove 1px;  
    border-radius: 15px;
    margin: 15px;
    width: 31%;
    height: 300px;
    display: inline-block;
    text-align: center;
}

.boxed-altogether {
    box-shadow: 10px 10px 5px lightgray;
    border: groove 1px;  
    border-radius: 15px;
    margin: 15px;
    width: 31%;
    height: 300px;
    display: inline-block;
    text-align: center;
}

.no-points {
    list-style-type: none;
  padding: 0; 
  margin: 0; 
}

#market1-image {
    height: 150px;
    max-width: 100%;
    background: url('../images/Market1_21.jpg') no-repeat center center;
    background-size: contain;
}

#southbank1-image {
    height: 150px;
    max-width: 100%;
    background: url('../images/Southbank1.jpg') no-repeat center center;
    background-size: contain;
}

#market5-image {
    height: 150px;
    max-width: 100%;
    background: url('../images/Market5.jpg') no-repeat center center;
    background-size: contain;
}
#soho1-image {
    height: 150px;
    max-width: 100%;
    background: url('../images/compton\ street.jpg') no-repeat center center;
    background-size: contain;

}

#soho2-image {
    height: 150px;
    max-width: 100%;
    background: url('../images/Chinatown.jpg') no-repeat center center;
    background-size: contain;
}

#soho3-image{
    height: 150px;
    max-width: 100%;
    background: url('../images/sohofood.jpg') no-repeat center center;
    background-size: contain;
}

#richmond1-image {
    height: 150px;
    max-width: 100%;
    background: url('../images/RichmondPark.jpg') no-repeat center center;
    background-size: contain;
}

#richmond2-image {
    height: 150px;
    max-width: 100%;
    background: url('../images/richmondpark3.jpg') no-repeat center center;
    background-size: contain;
}

#richmond3-image {
    height: 150px;
    max-width: 100%;
    background: url('../images/richmond1.jpg') no-repeat center center;
    background-size: contain;
}

  .boxed-walking:hover {
      height: 600px;
  }

  .boxed-food:hover {
      height: 600px;
  }

  .boxed-altogether:hover {
      height: 600px;
  }

/* About Us */

#about-us {
    background-color: rgb(92, 199, 241);
    height: 600px;
    width: 100%;
}